annotated-types==0.7.0
bidict==0.23.1
click==8.1.8
ha-mqtt-discoverable==0.20.1
paho-mqtt==2.1.0
pydantic
pydantic_core
pyaml
python-dotenv==1.1.0
PyYAML==6.0.2
typing-inspection==0.4.0
typing_extensions==4.13.2
psutil
