annotated-types==0.7.0
bidict==0.23.1
click==8.1.8
ha-mqtt-discoverable==0.24.2
paho-mqtt==2.1.0
pydantic==2.12.5
pydantic_core==2.41.5
pyaml
python-dotenv==1.1.0
PyYAML==6.0.2
typing-inspection>=0.4.2
typing_extensions>=4.14.1
psutil
